.itemModalButton {
  color: #c5e1a5;
}
.itemModalButton:hover {
  background-color: #8bc34a;
  color: #33691e;
}
.okButton,
.cancelButton {
  background-color: #5a9216;
  border-color: #5a9216;
  color: #c5e1a5;
  float: right;
}
.cancelButton {
  margin-right: 5px;
}
.okButton:hover,
.cancelButton:hover {
  background-color: #8bc34a;
  color: #33691e;
  border-color: #5a9216;
}
.ItemModalStyles {
  :global .ant-modal-header {
    background-color: #5a9216;
    border-bottom: 1px solid #5a9216;
  }
  :global {
    .ant-modal-title,
    .ant-modal-close {
      color: #c5e1a5;
    }
  }
  :global .ant-modal-close:hover {
    color: #33691e;
  }
  :global .ant-modal-body {
    background-color: #bef67a;
    padding: 24px 24px 1px 24px;
  }
  :global {
    .ant-input,
    .ant-picker,
    .ant-input-number {
      border: 1px solid #33691e;
      background-color: #bef67a;
      color: #33691e;
    }
  }
  :global .ant-input-number-handler-up {
    border-left: 1px solid #33691e;
    border-bottom: 1px solid #33691e;
    color: #33691e;
    background-color: #bef67a;
  }
  :global .ant-input-number-handler-down {
    border-left: 1px solid #33691e;
    background-color: #bef67a;
  }
  :global {
    .ant-input-number-handler-up-inner,
    .ant-input-number-handler-down-inner {
      color: #33691e;
    }
  }
  :global .ant-picker-clear {
    background-color: #bef67a;
  }
  input::-webkit-input-placeholder {
    color: #33691e;
  }
}
.date {
  color: #33691e;
}
.inputNumber {
  width: 100%;
}
:global .ant-picker-header {
  background-color: #5a9216;
  border-bottom: 1px solid #5a9216;
}
:global {
  .ant-picker-today-btn,
  .ant-picker-header button {
    color: #c5e1a5;
  }
}
:global {
  .ant-picker-today-btn:hover,
  .ant-picker-header button:hover {
    color: #33691e;
  }
}
:global .ant-picker-body {
  background-color: #bef67a;
}
:global {
  .ant-picker-panel,
  .ant-picker-footer {
    background-color: #5a9216;
    border-top-color: #5a9216 !important ;
    border-bottom: 1px solid #5a9216;
  }
}
:global .ant-picker-cell-inner {
  background-color: unset !important;
}
:global .ant-picker-cell-inner::before {
  border-color: #5a9216 !important;
}
:global .ant-picker-cell-inner:hover {
  background-color: #5a9216 !important;
  color: #c5e1a5;
}
:global {
  .ant-picker-cell-disabled::before {
    background-color: #c9fc8a;
  }
}
:global {
  .ant-picker-cell-in-view.ant-picker-cell-selected 
    .ant-picker-cell-inner {
    color: #33691e;
  }
}
:global {
  .ant-picker-cell-in-view.ant-picker-cell-selected
    .ant-picker-cell-inner:hover {
    color: #c5e1a5;
  }
}

