.positionElement {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.positionHeader {
  flex: 0 0 auto;
}
.positionContent {
  flex: 1 0 auto;
}
.positionFooter {
  flex: 0 0 auto;
}
