.margin {
  margin-top: 20px;
  margin-bottom: 20px;
}
.itemDeleteButton {
  float: right;
}
.TableStyles {
  margin: auto;
  font-weight: 600;
  :global {
    .ant-table-row-level-0 {
      background-color: #5a9216;
      color: #c5e1a5;
    }
    .ant-table-row-level-1 {
      background-color: #bef67a;
      color: #33691e;
    }
    .ant-table-row-level-0,
    .ant-table-row-level-1 {
      box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.2),
        0 4px 15px 0 rgba(0, 0, 0, 0.2);
    }
    .ant-table-row-expand-icon {
      background-color: #5a9216;
      border: 1px solid #5a9216;
    }
    .ant-table-row-expand-icon:hover {
      background-color: #8bc34a;
      color: #33691e;
    }
    .ant-table-row-expand-icon::after {
      top: 2px;
      bottom: 2px;
      left: 7px;
      width: 2px;
    }
    .ant-table-row-expand-icon::before {
      top: 7px;
      right: 3px;
      left: 3px;
      height: 2px;
    }
    .ant-table-row-expand-icon {
      width: 18px;
      height: 18px;
    }
    .ant-table-row-expand-icon,
    .ant-table-row-expand-icon-collapsed {
       color: unset;
    }
    .ant-table-tbody > tr.ant-table-row:hover > td {
      background-color: unset;
    }
    .ant-table-tbody > tr.ant-table-row > td {
      border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    }
    .ant-table-tbody > tr > td {
      border-bottom: 1px solid #bef67a;
    }
    .ant-table-tbody > tr > td:hover {
      background-color: unset;
    }
    .ant-table-tbody {
      background-color: #bef67a;
    }
    .ant-empty-description {
      color: #33691e;
    }
    .ant-table-placeholder:hover {
      background-color: #bef67a;
    }
  }
}
