.margin {
  margin-top: 1rem;
}
.TableStyles {
  width: 1000px;
  margin: auto;
  font-weight: 600;
  :global .ant-table-row-level-0 {
    background-color: #b7eb8f;
    width: 1000px;
  }
  :global .ant-table-row-expand-icon {
    background-color: #b7eb8f;
    border: 1px solid #b7eb8f;
  }
  :global .ant-table-tbody > tr.ant-table-row:hover > td {
    background: unset;
  }
}
